#!/usr/sbin/nft -f

table inet freepn {
  # Define the WireGuard interface.  Adjust if using a different name.
  set wg_ifaces {
    type ifname;
    elements = { "wg0" }
  }

  chain input {
    type filter hook input priority 0;
    ct state established,related accept
    iifname "lo" accept
    iifname @wg_ifaces accept
    # Allow SSH
    tcp dport 22 accept
    # Drop everything else
    drop
  }

  chain forward {
    type filter hook forward priority 0;
    ct state established,related accept
    iifname @wg_ifaces accept
    oifname @wg_ifaces accept
    # Drop everything else
    drop
  }

  chain postrouting {
    type nat hook postrouting priority 100;
    oifname != @wg_ifaces masquerade
  }
}
